.maincontentcontainer
  .headersection
    .maincontent
      .large-12.columns{style: "padding: 0px"}   
        #container
          .large-8.columns{style: "padding: 0px"} 
            .box.col2 
              .container{style: "width:800px; height:500px; background-image: url(/assets/maingrayscale.jpeg);"}
                .innercontainer.animated
                %header.positionleftbottom
                  %h1 George Somerville
                  %p Web Developer - Designer - Creator
          .large-4.columns{style: "padding:0px"}        
            .box.col2
              .flip
                .textcontainerflip{style: "width:400px; height: 200px"}
                  .flip-front.flipfront400-200
                    %h3 A little bit about me
                    %p I'm a young enthusiastic junior web developer looking to expand my skill set in frontend/full stack web development as well test my design creativity 
                  .flip-back.flipback400-200 
                    %h3 What I do away from the desk
                    %p During my spare time I like to hit the gym, hang out with mates and have a beer - or two.
                    %p I also have a keen interest in motorsports as well as a sense of style and keeping up to date with the latest technology trends      
          .box.col2
            .flip
              .textcontainerflip{style: "width:400px; height: 200px"}
                .flip-front.flipfront400-200
                  %h3 Programming Languages/Software 
                    
                    
                .flip-back.flipback400-200  
                  %p Ruby on Rails - Javascript - HTML5 - CSS3 - Backbone.js - Sass - Bootstrap - Foundation - Masonry - Git - Terminal - Sublime
          .box.col2
            %img{src: "/assets/garden.jpg.png"}/
          
          //everything inside of extra coloumns!!!!!
          .box.col2
            .flip
              .textcontainerflip{style: "width:400px; height: 130px"}
                .flip-front.flipfront400-130
                  %h3 Young eager, and extremely enthusiastic  about expanding my creativity 
                  
                .flip-back.flipback400-130  
                  %h6 Contact details
                  %p Mobile: 07990073642
                  %p Email: GeorgeSomerville1992@gmail.com
          .box.col2      
            .infocontainer
              %a{href: "https://github.com/GeorgeSomerville1992"}
                %img{src: "/assets/github.jpeg.png"}/ 

          .box.col2
            .infocontainer{style: "width:200px; height: 130px;"}
              %a{href: "https://www.linkedin.com/in/georgesomerville1992"}
                %img{src: "/assets/linkedin.jpeg.png", style: "margin-left:25px;"}/  
